@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
@media screen and (min-width: 480px) {
  body {
    background: linear-gradient(#23122C, #1F142D);
    white-space: nowrap; }

  * {
    user-select: none;
    cursor: default;
    font-family: 'Roboto Mono';
    font-weight: 700; }

  .main-container {
    position: relative;
    display: block;
    width: 180px;
    overflow: wrap;
    white-space: normal;
    margin: 10% auto 0 auto; }

  .relativeBlock, .flipBoard-letter-top, .flipBoard-letter-bottom, .flipBoard-letter-top-back, .button {
    position: relative;
    display: block; }

  .absoluteBlock, .flipBoard-frame, .top-back-frame {
    position: absolute;
    display: block; }

  .flipBoard-container {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 20px;
    background: linear-gradient(180deg, transparent, transparent 50%, transparent 50%, transparent);
    transform-style: preserve-3d;
    perspective: 160px;
    z-index: 1; }

  .flipBoard-frame {
    width: 100%;
    height: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    color: #25102B; }

  .top-frame {
    transform-origin: 0px 10px;
    background: linear-gradient(180deg, transparent, transparent);
    transform: rotateX(0deg); }

  .bottom-frame {
    top: 10px;
    background: linear-gradient(180deg, transparent, transparent); }

  .flipBoard-letter-top {
    margin-top: -10;
    backface-visibility: hidden; }

  .flipBoard-letter-bottom {
    margin-top: -10px; }

  .top-back-frame {
    width: 100%;
    height: 10px;
    background: transparent;
    transform-origin: 0px 10px;
    transform: rotateX(180deg);
    box-sizing: border-box;
    text-align: center;
    color: transparent;
    font-size: 14px;
    overflow: hidden; }

  .top-animate {
    animation: flip 200ms normal linear;
    animation-fill-mode: none;
    animation-iteration-count: 1; }

  .top-back-animate {
    animation: flipBackSide 200ms normal linear;
    animation-fill-mode: none;
    animation-iteration-count: 1; }

  .flipBoard-letter-top-back {
    margin-top: 83.3px;
    transform: rotateX(180deg); }

  @keyframes flip {
    0% {
      transform: rotateX(0deg);
      background: #33273E;
      color: #25102B; }
    50% {
      color: #25102B;
      background: #33273E; }
    51% {
      background: transparent;
      color: transparent; }
    100% {
      background: linear-gradient(180deg, transparent, transparent);
      transform: rotateX(-180deg);
      color: transparent; } }
  @keyframes flipBackSide {
    0% {
      transform: rotateX(0deg);
      color: transparent;
      background: transparent; }
    50% {
      color: transparent;
      background: transparent; }
    51% {
      color: #25102B;
      background: linear-gradient(0deg, transparent, transparent); }
    100% {
      background: linear-gradient(0deg, transparent, transparent);
      transform: rotateX(-180deg);
      color: #25102B; } }
  .button {
    width: fit-content;
    height: 25px;
    margin: auto;
    font-family: 'Open Sans';
    background: black;
    color: white;
    font-size: 13px;
    top: 50px; } }

/*# sourceMappingURL=styles.css.map */
