@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
@media screen and (min-width: 480px) {
  body {
    background: #dbdbdb;
    white-space: nowrap; }

  * {
    user-select: none;
    cursor: default;
    font-family: 'Roboto Mono';
    font-weight: 700; }

  .main-container {
    position: relative;
    display: block;
    width: 500px;
    overflow: wrap;
    white-space: normal;
    margin: 10% auto 0 auto; }

  .relativeBlock, .flipBoard-letter-top, .flipBoard-letter-bottom, .flipBoard-letter-top-back, .button {
    position: relative;
    display: block; }

  .absoluteBlock, .flipBoard-frame, .top-back-frame {
    position: absolute;
    display: block; }

  .flipBoard-container {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 50px;
    background: linear-gradient(180deg, #030504, #212121 50%, #4a4a4a 50%, #626262);
    border: 1px rgba(0, 0, 0, 0.2) ridge;
    transform-style: preserve-3d;
    perspective: 400px;
    z-index: 1; }

  .flipBoard-frame {
    width: 100%;
    height: 25px;
    border: 1px rgba(0, 0, 0, 0.2) ridge;
    box-sizing: border-box;
    text-align: center;
    font-size: 35px;
    overflow: hidden;
    color: white; }

  .top-frame {
    transform-origin: 0px 25px;
    background: linear-gradient(180deg, #030504, #212121);
    transform: rotateX(0deg); }

  .bottom-frame {
    top: 25px;
    background: linear-gradient(180deg, #4a4a4a, #626262); }

  .flipBoard-letter-top {
    margin-top: -25;
    backface-visibility: hidden; }

  .flipBoard-letter-bottom {
    margin-top: -25px; }

  .top-back-frame {
    width: 100%;
    height: 25px;
    background: transparent;
    transform-origin: 0px 25px;
    transform: rotateX(180deg);
    border: 1px rgba(0, 0, 0, 0.2) ridge;
    box-sizing: border-box;
    text-align: center;
    color: transparent;
    font-size: 35px;
    overflow: hidden; }

  .top-animate {
    animation: flip 100ms normal linear;
    animation-fill-mode: none;
    animation-iteration-count: 1; }

  .top-back-animate {
    animation: flipBackSide 100ms normal linear;
    animation-fill-mode: none;
    animation-iteration-count: 1; }

  .flipBoard-letter-top-back {
    margin-top: 208.25px;
    transform: rotateX(180deg); }

  @keyframes flip {
    0% {
      transform: rotateX(0deg);
      background: linear-gradient(180deg, #030504, #212121);
      color: white; }
    50% {
      color: white; }
    51% {
      color: transparent; }
    100% {
      background: linear-gradient(180deg, #4a4a4a, #626262);
      transform: rotateX(-180deg);
      color: transparent; } }
  @keyframes flipBackSide {
    0% {
      transform: rotateX(0deg);
      color: transparent;
      background: transparent; }
    50% {
      color: transparent;
      background: transparent; }
    51% {
      color: white;
      background: linear-gradient(0deg, #4a4a4a, #626262); }
    100% {
      background: linear-gradient(0deg, #4a4a4a, #626262);
      transform: rotateX(-180deg);
      color: white; } }
  .button {
    width: 100px;
    height: 50px;
    margin: auto;
    background: dodgerblue;
    color: white;
    font-size: 17px;
    top: 50px; }

  /*
    #by-line-container{
      color: #9f9e9f;
      font-weight: 400;
      width:fit-content;
      display:block;
      margin:auto;
      transition: all 1000ms ease-in-out;
    }
  
    #menu-container{
      position:relative;
    }
  
    ul {
      position:relative;
      width:100%;
      right:70px;
      transition: all 1000ms ease-in-out;
    }
  
    li {
      opacity: 0;
      display:hidden;
      margin-top:10px;
      font-size:25px;
      width:92%;
      border-radius:2px;
      padding: 10px;
      transition: opacity 1000ms ease-in-out, font-size 1000ms ease-in-out, background 200ms ease-in-out;
    }
  
    li:hover{
      color: white;
      background:#c3c3c3;
    }*/ }
#test {
  animation: testAnimation 1s linear; }

@keyframes testAnimation {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(110%); } }

/*# sourceMappingURL=styles.css.map */
