// @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

@media screen and (min-width: 480px) {

  $size: .4;
  $containerWidth: $size*900px;
  $width: 50px*$size;
  $height: 100px*$size;
  $perspective: $width*16;
  $fontSize: $width*1.4;
  $fontColor: white;
  $borderStyle: none;//1px rgba(0,0,0,.4) inset;
  $flipAnimationTime: 200ms;
  $shadow: 5px 5px 5px 0 rgba(0,0,0,.3);

  //colors
  $lightGray: transparent;//#626262;
  $darkGray: transparent;//#4a4a4a;
  $lightBlack: transparent;//#212121;
  $darkBlack: transparent;//030504;
  $backgroundColor: linear-gradient(#23122C,#1F142D);

  $effectColor:transparent;

  body {
    background: $backgroundColor;
    white-space:nowrap;
  }

  *{
    user-select:none;
    cursor: default;
    font-family: 'Roboto Mono';
    font-weight:700;
    box-sizing:content-box;

  }

  .main-container{
    position: relative;
    display:block;
    width: $containerWidth;
    overflow:wrap;
    white-space:normal;
    margin: 10% auto 0 auto;
  }

  .relativeBlock {
    position:relative;
    display:block;
  }

  .absoluteBlock{
    position:absolute;
    display:block;
  }

  .flipBoard-container{
    position:relative;
    display:inline-block;
    width:$width;
    height:$height;
    background: linear-gradient(180deg, $darkBlack, $lightBlack 50%, $darkGray 50%, $lightGray);
    outline: $borderStyle;
    transform-style: preserve-3d;
    perspective: $perspective;
    z-index:1
  }

  .flipBoard-frame {
    @extend .absoluteBlock;
    width:100%;
    height:$height/2;
    outline: $borderStyle;
    box-sizing: border-box;
    text-align:center;
    font-size:$fontSize;
    overflow:hidden;
    color:$fontColor;
  }

  .top-frame{
    transform-origin: 0px $height/2;
    background: linear-gradient(180deg, $darkBlack, $lightBlack);
    transform: rotateX(0deg);
  }

  .bottom-frame{
    top: $height/2;
    background: linear-gradient(180deg, $darkGray, $lightGray);
  }

  .flipBoard-letter-top {
    @extend .relativeBlock;
    margin-top:-$height/2px;
    backface-visibility: hidden;
    // color:transparent;
  }

  .flipBoard-letter-bottom {
    @extend .relativeBlock;
    margin-top:-$height/2;
  }

  .top-back-frame{
    @extend .absoluteBlock;
    width:100%;
    height:$height/2;
    background: transparent;
    transform-origin: 0px $height/2;
    transform: rotateX(180deg);
    border: $borderStyle;
    box-sizing: border-box;
    text-align:center;
    color:transparent;
    font-size: $fontSize;
    overflow:hidden; 
  }

  .top-animate {
    animation: flip $flipAnimationTime normal linear;
    animation-fill-mode: none;
    animation-iteration-count: 1;
  }

  .top-back-animate {
    animation: flipBackSide $flipAnimationTime normal linear;
    animation-fill-mode: none;
    animation-iteration-count: 1;
  }

  .flipBoard-letter-top-back{
    @extend .relativeBlock;
    margin-top:$width*8.33;
    transform: rotateX(180deg);
  }

  @keyframes flip {
    0% {
      transform: rotateX(0deg);
      // background: linear-gradient(180deg, $darkBlack, $lightBlack);
      background:$effectColor;
      color:$fontColor;
     }
     50%{
       color:$fontColor;
       background:$effectColor;
     }
     51%{
       background:transparent;
       color:transparent;
     }
    100%{
      background: linear-gradient(180deg, $darkGray, $lightGray);
      transform: rotateX(-180deg);
      color:transparent;
    }
  }

    @keyframes flipBackSide {
    0% {
      transform: rotateX(0deg);
      color:transparent;
      background:transparent;
     }
     50%{
      color:transparent;
      background:transparent;
     }
     51%{
      color:$fontColor;
      background: linear-gradient(0deg, $darkGray, $lightGray);
     }
    100%{
      background: linear-gradient(0deg, $darkGray, $lightGray);
      transform: rotateX(-180deg);
      color:$fontColor;
    }
  }

  .button{
    @extend .relativeBlock;
    width:fit-content;
    height:25px;
    margin:auto;
    font-family:'Open Sans';
    background:black;
    color:white;
    font-size:13px;
    top:50px;
    border-style:none;
    outline: none;
    box-shadow:$shadow;
  }
}
